body {
    background-color: black;
}

.meta {
    width: 100%;
}


.meta>button {
    height: 13vh;
    width: 24%;
    border-radius: 50%;
    font-size: 2rem;

}

.enfant {
    height: 8vh;

}

.orange {
    background-color: orange;
}

.gris {
    background-color: rgb(173, 168, 168);
}

#afficheNombre {
    font-size: 2rem;
    color: white;
    text-align: end;
    padding-right: 1rem;
 font-family: "Bebas Neue", sans-serif;

}

#afficheSigne {
    font-size: 2rem;
    color: white;
    text-align: end;
    padding-right: 1rem;
 font-family: "Bebas Neue", sans-serif;

}

#autreNombre {
    font-size: 2rem;
    color: white;
    text-align: end;
    padding-right: 1rem;
  font-family: "Bebas Neue", sans-serif;

}

#resultat {
    font-size: 3rem;
    color: white;
    text-align: start;
 font-family: "Bebas Neue", sans-serif;
    
}